<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/Style.css' %}" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
          href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap"
          rel="stylesheet"
  />
  <title>{% block title %} Heffe {% endblock %}</title>
</head>
<body>
{% block content %} {% endblock %}
</body>
<script
        src="https://kit.fontawesome.com/e3ba645cd3.js"
        crossorigin="anonymous"
></script>
</html>