<nav class="bottomNavigation">
  <div class="home">
    <a href="/frontpage">
      <i class="fas fa-home"></i>
      <br />
      <p>Home</p>
    </a>
  </div>
  <div class="profile">
    <a href="/my-profile">
      <i class="fas fa-user"></i>
      <br />
      <p>Profile</p>
    </a>
  </div>
  <div class="group">
    <a href="/my-groups">
      <i class="fas fa-users"></i>
      <br />
      <p>Groups</p>
    </a>
  </div>
  <div class="rates">
    <a href="/my-ratings">
      <i class="fas fa-star"></i> <br />
      <p>Rates</p>
    </a>
  </div>
  <div class="camera">
    <a href="#">
      <i class="fas fa-camera"></i> <br />
      <p>Camera</p>
    </a>
  </div>
</nav>
