<div class="modal">
  {% load static %}
  <div class="modalCreateGroup">
    <div class="modalCreateGroupHeader">
      <div class="closeWindow-icon closeModal" onclick="closeModal()">
        &#x2715;
      </div>
      <h1 class="modalCreateGroupHeaderText">Create group</h1>
    </div>
    <form class="modalCreateGroupForm" action="{% url 'createGroup' %}" method="POST" >
      {% csrf_token %}
      <div class="modalCreateGroupImage">
        <div class="modalCreateGroupImageContainer">
          <img src="{% static 'icons/picture.svg' %}" alt="" />
        </div>
        <input class="imageUpload" type="file" name="imageUploade">
      </div>
      <!--GROUP NAME-->
      <label for="groupName">Group name</label>
      <input type="text" name="groupName"/>
      <div class="membersPk">
        <input type="hidden" name="userPk" value="{{request.user.pk}}">
      </div>
      <!-- ADD MEMBERS  -->
      <div class="searchbarContainer">
        {% load static %}
        <label for ="searchMember">Search for members</label>
        <div class ="searchBarForm">
          <input type="text" name="searchMember" id="searchField" onkeyup="searchName()">
          <button type="submit"><img src="{% static 'icons/search.svg' %}" alt="" /></button>
        </div>
      </div>
      <!-- SEARCHLIST  -->
      <ul id="userList">
        {% for user in users %}
        <li>
          <a onclick="grapUser(this)" href="#">
            {{ user.username }}
            <p class="pk" hidden >{{user.pk}}</p>
          </a>
        </li>
        {% endfor %}
      </ul>
      <input id="submitButton" type="submit" value="Create group" required>
    </form>
  </div>
</div>
<div class="overlay" onclick="closeModal()"></div>
<script>
  // SEARCH
  function searchName() {
    document.querySelector("#userList").style.display = "block";
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById("searchField");
    filter = input.value.toUpperCase();
    ul = document.getElementById("userList");
    li = ul.getElementsByTagName("li");

    for (i = 0; i < li.length; i++) {
      a = li[i].getElementsByTagName("a")[0];
      txtValue = a.textContent || a.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        li[i].style.display = "";
      } else {
        li[i].style.display = "none";
      }
    }
  }

  // APPEND TO FORM
  function grapUser(user) {
    user.style.color = "green";
    theUser = user.getElementsByClassName("pk")[0].innerHTML;
    console.log(theUser)

    var newInput = document.createElement("input");
    newInput.setAttribute("type", "hidden");
    newInput.setAttribute("name", "userPk");
    newInput.setAttribute("value", theUser);
    document.querySelector(".membersPk").appendChild(newInput);
  }

</script>