<div class="modal">
  <div class="modalCreateEvent">
  <div class="modalCreateEventHeader">
    <div class="closeModal" onclick="closeModal()">
      &#x2715;
    </div>
    <h1 class="modalCreateEventHeaderText">Create event</h1>
  </div>
  <form class="modalCreateEventForm" action="{% url 'createEvent' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" value="{{group.pk}}" name="groupId">
    <label for="date">Date</label>
    <input
            class="modalCreateEventFormInputDate"
            type="datetime"
            name="date"
    />
    <label for="title">Tilte</label>
    <input
            class="modalCreateEventFormInputTitle"
            type="text"
            name="title"
    />
    <label for="message">Message</label>
    <textarea class="modalCreateEventFormTextarea" name="message"></textarea>

    <div class="modalCreateEventBeerlist">

    <div class="modalCreateEventBeerlistHeader">Create beer list</div>
    <div class="beerListPk"></div>

      {% for oneBeer in allBeers %}
      <ul>
        <li onclick="grapElement(this)">
          {{oneBeer.name}}
          <p class="pk" hidden>{{oneBeer.pk}}</p>
        </li>
      </ul>
      {% endfor %}
    </div>

    <input id="submitButton" type="submit" value="Create event" />
  </form>
</div>
</div>
<div class="overlay" onclick="closeModal()"></div>
<script>
  function grapElement(beer) {
    beer.style.color = "green";
    theBeer = beer.getElementsByClassName("pk")[0].innerHTML;
    console.log(theBeer)

    var input = document.createElement("input");
    input.setAttribute("type", "hidden");
    input.setAttribute("name", "beerPk");
    input.setAttribute("value", theBeer);
    document.querySelector(".beerListPk").appendChild(input);
  }
</script>