{% extends 'components/Base.html' %}

{% block title %} Heffe - my profile {% endblock %}

{% block content %}

{% load static %}

<!-- BLUE TOPBAR  -->
{% include 'components/BlueTopbar.html' with topbarHeading="Delete Account" %}


        <form class="deleteAccountForm" action="{% url 'deleteAccount'%}" method="POST">
            {% csrf_token %}
            <input type="password" name="password" placeholder="Password">
            <br />
            <input type="text" name="confirm_deletion" placeholder="TYPE DELETE">
            <br />
            <button id="submitButton">Submit</button>

        </form>

{% include 'components/BottomNavigation.html' %}

{% endblock %}