<div class="beers">
    {% load static %}
    {% for beer in beers %}
    <a class="beersBeer" href="/{{beer.beer.pk}}">
        <img
                class="beersBeerImage"
                src="/static/{{beer.beer.imageRoot}}"
                alt=""
        />
        <div class="beersBeerInfo">
            <h3 class="beersBeerName">{{beer.beer.name}}</h3>
            <p class="beersBeerDescription">
                {{beer.beer.description}}
            </p>
            <div class="beersBeerStars">
                {% if beer.beer.avgScore > 0 %}
                <img class="beersBeerStarsStar" src="{% static 'icons/star.svg' %}" alt="">
                {% endif %}
                {% if beer.beer.avgScore > 1.5 %}
                <img class="beersBeerStarsStar" src="{% static 'icons/star.svg' %}" alt="">
                {% endif %}
                {% if beer.beer.avgScore > 2.5 %}
                <img class="beersBeerStarsStar" src="{% static 'icons/star.svg' %}" alt="">
                {% endif %}
                {% if beer.beer.avgScore > 3.5 %}
                <img class="beersBeerStarsStar" src="{% static 'icons/star.svg' %}" alt="">
                {% endif %}
                {% if beer.beer.avgScore > 4.5 %}
                <img class="beersBeerStarsStar" src="{% static 'icons/star.svg' %}" alt="">
                {% endif %}
            </div>
        </div>
        {% if favorites %}
        <form class="removeForm" action="{% url 'removeFavorite' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" value="{{beer.pk}}" name="favoriteId">
            <button type="submit" class="removeBeer">&#x2715;</button>
        </form>
        {% endif %}
    </a>
    {% endfor %}
</div>