<!--<div class="searchOverlay" onclick="closeSearchlist()"></div>-->

<div class="blueContainer">

      <!-- SEARCHLIST  -->
      <div class="searchbarContainer">
        {% load static %}

          <div class ="searchBarForm">
        <input type="text" id="searchField" onkeyup="searchBeer()" placeholder="Search for beers..">
        <button type="submit"><img src="{% static 'icons/search.svg' %}" alt="" /></button>
          </div>
      </div>


      <ul id="userList">
        {% if beers %}

            {% for beer in beers %}
              <li> <a href="/{{beer.pk}}">{{ beer }}</a></li>
            {% endfor %}

        {% endif %}
      </ul>

  </div>


<script>
  // var overlay = document.querySelector(".searchOverlay");
  // var searchList = document.querySelector(".searchList");
  //
  // function openSearchlist() {
  //   overlay.style.display = "block";
  //   searchList.style.display = "block";
  // }
  // function closeSearchlist() {
  //   overlay.style.display = "none";
  //   searchList.style.display = "none";
  // }

  // SEARCH
  function searchBeer() {
    document.querySelector("#userList").style.display = "block";
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById("searchField");
    filter = input.value.toUpperCase();
    ul = document.getElementById("userList");
    li = ul.getElementsByTagName("li");

    for (i = 0; i < li.length; i++) {
      a = li[i].getElementsByTagName("a")[0];
      txtValue = a.textContent || a.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        li[i].style.display = "";
      } else {
        li[i].style.display = "none";
      }
    }
  }


</script>
