<div class ="sectionHeading">

  <h2>Top rated</h2>
  <hr>
</div>
<div class="slider" id="div1">
  {% load static %}
  {% for beer in beers  %}
  <a class="sliderSlide sliderSlideFade" href="/{{beer.pk}}">
    <div class="sliderSlideImage">
      <img src="/static/{{beer.imageRoot}}" alt="" />
    </div>
    <div class="sliderSlideStars">
      {% if beer.avgScore > 0 %}
      <img class="" src="{% static 'icons/star.svg' %}" alt="">
      {% endif %}
      {% if beer.avgScore > 1.5 %}
      <img class="" src="{% static 'icons/star.svg' %}" alt="">
      {% endif %}
      {% if beer.avgScore > 2.5 %}
      <img class="" src="{% static 'icons/star.svg' %}" alt="">
      {% endif %}
      {% if beer.avgScore > 3.5 %}
      <img class="" src="{% static 'icons/star.svg' %}" alt="">
      {% endif %}
      {% if beer.avgScore > 4.5 %}
      <img class="" src="{% static 'icons/star.svg' %}" alt="">
      {% endif %}
    </div>
  </a>
  {% endfor %} 
  <a class="slider_prev" onclick="plusSlides(-1, slideshow1)">&#10094;</a>
  <a class="slider_next" onclick="plusSlides(1, slideshow1)">&#10095;</a>
</div>
<br />