<div class="modal">
  {% load static %}
  <div class="changingModal">
    <div class="modalChangingHeader">
      <div class="closeModal" onclick="closeModal()">
        &#x2715;
      </div>
      <h1 class="modalChangingHeaderText">Changing Password</h1>
    </div>
    <form class="modalChangingForm" action="{% url 'updatePassword' %}" method="POST">
      {% csrf_token %}
      <label for="changingPassword">New password</label>
      <input type="password" id="changingPassword" name="password" />
      <label for="newPassword">Confirm password</label>
      <input type="password" id="newPassword" name="confirm_password" />
      <input type="hidden" name="pk" value="{{user.pk}}">
      <input id="submitButton" type="submit" value="Change password" required>
    </form>
  </div>
</div>
<div class="overlay" onclick="closeModal()"></div>