body,
html {
  margin: 0 0 40px 0;
  padding: 0;
  border: 0;
  font-family: $baseFont;
  box-sizing: border-box;
}

img {
  width: 100%;
}

a {
  text-decoration: underline;
  color: $blackColor;
}

.sectionHeading{
padding: 20px;
  h2 {
    @include headingThree;
  }

  hr {
    width: 30px;
    float: left;
    margin-top: -10px;
  }


}

//DESKTOP - FOR NOW IS IT DISPLAYING NOTHING
@media only screen and (min-width: $desktop) {
  body {
    display: none;
  }

  #introduction{
    display: block;

    .intoductionLayout{
      display: grid;
      padding: 30px;


      h1{
        @include headingOne;
        font-size: $hugeFont-size;
        text-align: center;
      }

      img{
        width: 30%;
        margin: 0 auto;
      }

      p{
        @include headingTwo;
        font-size: $largeFont-size;
        text-align: center;
        padding-left: 30%;
        padding-right: 30%;

      }

    }
  }
}
