.blueContainer {
  background-color: $blueColor;
  width: 100%;
  height: 100%;
  border-radius: 0 0 30px 30px;
  position: relative;
  z-index: 15;

  &Topbar {
    min-height: 70px;
    margin-bottom: 30px;
  }
}

.topbarHeading {
  @include headingTwo;
  color: white;
  text-align: center;
  margin-top: 0px;
  padding-top: 20px;
}

.closeWindowIcon {
  text-decoration: none;
  color: white;
  position: absolute;
  top: 26px;
  left: 30px;
  font-size: 17px;
}
@media only screen and (min-width: $ipad) {
  .blueContainer {
    min-height: 90px;

    h1 {
      padding-top: 35px;
    }

    .closeWindowIcon {
      top: 36px;
    }
  }
}
