@import "Variables";

//General styling

#submitButton {
  padding: 12px 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  background-color: $orangeColor;
  border: none;
  color: $whiteTextColor;
  margin-top: 20px;
  @include span;
}

label {
  margin-top: 20px;
  @include span;
}

form {
  display: grid;
  padding: 10px;
  margin: 0 auto;
  width: 90%;
}

section {
  display: grid;
}

.closeModal {
  color: black;
  margin-left: 10px;
  margin-top: 10px;
}

//IPAD
@media only screen and (min-width: $ipad) {
  label {
    @include headingThree;
    font-weight: normal;
  }

  input{
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 20px;
  }
}

//LOGIN
#loginSection {
  .loginLogo {
    width: 90%;
    margin: 0 auto;
  }

  #loginEmail,
  #loginPassword {
    margin: 5px 0;
  }

  input {
    border: 1px solid $borderColor;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 12px 20px;
    @include thinFont;
  }

  a,
  p {
    @include thinFont;
    text-align: center;
  }

  //IPAD
  @media only screen and (min-width: $ipad) {
    .loginLogo {
      width: 70%;
    }
    input {
      padding: 18px 20px;
      font-size: $largeFont-size;
    }

    a,
    p {
      font-size: $mediumFont-size;
    }
  }
}

//SIGNUP
#signupSection {
  .topBar {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
  }

  .xButton {
    background-color: transparent;
    border: none;
    padding: 2px;
    text-align: left;
  }
  input {
    border: 1px solid $borderColor;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 12px 20px;
    @include thinFont;
  }

  h2 {
    @include headingTwo;
    text-align: center;
  }

  li {
    list-style-type: none;
    margin-top: 20px;
  }

  a {
    @include span;
    align-self: center;
    text-align: right;
  }

  p {
    @include thinFont;
    text-align: center;
  }

  //IPAD
  @media only screen and (min-width: $ipad) {
    a,
    p {
      font-size: $mediumFont-size;
    }

    h2 {
      @include headingOne;
    }

    li {
      margin-bottom: 20px;
      margin-top: 40px;
    }

    .topBar a {
      font-size: $largeFont-size;
    }
  }
}

//CHANGING
.changingModal {
  background-color: white;
  max-height: fit-content;

  input {
    border: 0;
    outline: 0;
    border-bottom: 1px solid $borderColor;
    margin-top: 20px;
    padding-bottom: 10px;
  }

  .modalChangingHeader {
    .modalChangingHeaderText {
      @include headingTwo;
      color: black;
      text-align: center;
      margin-top: 0px;
      padding-top: 20px;
    }
  }
}

//CREATING GROUP
.modalCreateGroup {
  background-color: white;
  max-height: fit-content;

  .modalCreateGroupHeader {
    .modalCreateGroupHeaderText {
      @include headingTwo;
      color: black;
      text-align: center;
      margin-top: 0px;
      padding-top: 20px;
    }
  }

  .modalCreateGroupForm {
    margin-top: 10px;

    .modalCreateGroupImage {
      text-align: center;
      margin: auto;
    }

    .modalCreateGroupImageContainer {
      background-color: $yellowColor;
      padding: 20px;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      margin: 15px auto;
    }

    .imageUpload {
      color: transparent;
      width: 100px;
    }

    .imageUpload::-webkit-file-upload-button {
      visibility: hidden;
    }

    .imageUpload::before {
      margin: 0 auto;
      content: "Select files";
      color: $whiteTextColor;
      display: inline-block;
      background: $orangeColor;
      padding: 5px 8px;
      outline: none;
      border: none;
      border-radius: 4px;
      @include span;
    }

    input[type="text"] {
      border: 0;
      outline: 0;
      border-bottom: 1px solid $borderColor;
      margin-top: 10px;
      margin-bottom: 10px;
      padding-bottom: 10px;
    }

    label {
      @include span;
      text-transform: capitalize;
      margin-top: 20px;
    }
  }

  .searchbarContainer {
    .searchBarForm {
      display: grid;
      grid-template-columns: 2fr 1fr;

      #searchField {
        border: 1px solid $borderColor;
        margin-top: 10px;
        margin-bottom: 10px;
        height: 15px;
        padding-left: 10px;
      }

      button {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: $smallFont-size;
        border: none;
        margin-right: 0;
        height: 28px;
        background-color: $orangeColor;
      }

      img{
        width: 20px;
      }
    }
  }

  #userList {
    display: none;
    margin-block-start: 0 !important;
    padding-inline-start: 0px !important;

    li {
      list-style-type: none;
    }

    a {
      text-decoration: none;
    }
  }
}

//CREATING EVENT
.modalCreateEvent {
  background-color: white;
  width: 100%;
  max-height: fit-content;

  .modalCreateEventHeaderText {
    @include headingTwo;
    color: black;
    text-align: center;
    margin-top: 0px;
    padding-top: 20px;
  }

  input {
    border: 0;
    outline: 0;
    border-bottom: 1px solid $borderColor;
    margin-top: 20px;
    padding-bottom: 10px;
  }

  textarea {
    border: 1px solid $borderColor;
    padding: 20px;
  }

  .modalCreateEventBeerlist {
    border: 1px solid $orangeColor;
    margin: 20px 0;
    padding: 10px;
    border-radius: 15px;
    width: 95%;

    .modalCreateEventBeerlistHeader {
      @include headingThree;
      text-align: center;
      margin-bottom: 20px;
    }

    ul,
    li {
      list-style-type: none;
      margin-block-start: 0 !important;
      padding-inline-start: 0px !important;
    }
  }

  @media only screen and (min-width: $ipad) {
    textarea {
      padding: 30px;
    }
  }
}