// Discover section
.discoverContainer {
  height: 100%;
  width: 100%;
  min-height: 170px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: -1;
}

.discoverHeading {
  @include headingFour;
}

.discoverText {
  @include paragraph;
}

.textboxContainer {
  background-color: #e4e4e4ad;
  width: 120px;
  margin: 15px;
  position: absolute;

  &TextWrapper {
    text-align: center;
    padding: 10px;
  }
}

@media screen and (min-width: $ipad) {
  .discoverContainer {
    min-height: 300px;
  }

  .textboxContainer{
    width: 300px;
    height: 200px;
    padding-top: 20px;
    margin-top: 40px;
  }

}
