@import "Variables";

#groupContent {
  padding: 0 20px;

  h2 {
    @include headingThree;
  }

  .groupEvents {


    h2 {
      @include headingThree;
    }

    hr {
      width: 30px;
      float: left;
      margin-top: -10px;
    }

    .eventContent {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: 0 auto;
      border: 0.5px solid $borderColor;
      padding: 10px;
      align-items: center;

      span {
        @include headingFour;
      }

      p {
        @include paragraph;
      }

      img {
        object-fit: cover;
      }
    }
    button {
      display: grid;
      padding: 5px 12px;
      border-radius: 4px;
      background-color: $orangeColor;
      border: none;
      color: $whiteTextColor;
      margin: 10px auto;
      @include span;
    }
  }

  .beerList {
    padding-bottom: 20px;

    .listContent {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20%;
      margin-top: 7px;

      button {
        background-color: transparent;
        color: $orangeColor;
        border: none;
        text-align: right;
      }

      span {
        @include headingFour;
      }
    }
  }

  .wall_container {
    border: 1px solid $borderColor;
  }
  .wall_posts {
    ul {
      list-style: none;
      padding-inline-start: 0px;
      margin: 5px;
    }

    li {
      padding: 10px;
      margin: 5px;
      color: $whiteTextColor;
      @include paragraph;
      border-radius: 20px;
      width: fit-content;
    }

    .postRight {
      float: right;
      background-color: $yellowColor;
    }

    .postLeft {
      float: left;
      background-color: $blueColor;
    }
  }

  .wall_input {
    display: grid;
    width: 96%;
    margin: 0 auto;

    .user_input {
      padding: 5px;
      margin-top: 30px;
      height: 50px;
    }

    .submit_button {
      padding: 5px 10px;
      border-radius: 4px;
      background-color: $orangeColor;
      border: none;
      color: $whiteTextColor;
      width: 50px;
      float: right;
      @include span;
      margin-bottom: 10px;
    }
  }

  //IPAD
  @media only screen and (min-width: $ipad) {
    h2 {
      @include headingTwo;
    }

    .groupEvents {
      .eventContent {
        span {
          font-size: $largeFont-size;
        }

        p {
          font-size: $mediumFont-size;
        }

        img {
          max-height: 250px;
        }
      }
      button {
        padding: 10px 22px;
        font-size: $mediumFont-size;
      }
    }

    .beerList {
      margin-top: 20px;
      margin-bottom: 20px;

      .listContent {
        margin-top: 10px;

        button {
          font-size: $largeFont-size;
        }

        span {
          font-size: $mediumFont-size;
        }
      }
    }

    .wall_posts {
      ul {
        margin: 10px;
      }

      li {
        padding: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: $mediumFont-size;
      }
    }

    .wall_input {
      .user_input {
        padding: 10px;
        margin-top: 60px;
        height: 70px;
        font-size: $mediumFont-size;
      }

      .submit_button {
        padding: 10px 10px;
        font-size: $mediumFont-size;
        width: 70px;

        margin-bottom: 10px;
      }
    }
  }
}
