.overlay,
.overlayRateGroup {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  height: 200vh;
  width: 100%;
  background: #e4e4e4bd;
  z-index: 16;
  overflow: auto;
}
.modal,
.modalRateGroup {
  display: none;
  width: 100%;
  min-height: 300px;
  background-color: white;
  z-index: 17;
  position: absolute;
  top: 8em;
  left: 0;
}

@media screen and (min-width: $ipad) {
  .overlay {
    height: 200vh;
  }
  .modal,
  .modalRateGroup {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 80%;
  }
}
