// Button
.btnContainer {
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 20px 0 40px 0;
}

.btn {
  padding: 12px 20px;
  border-radius: 4px;
  background-color: $orangeColor;
  border: none;
  color: $whiteTextColor;
  margin-top: 20px;
  @include span;
  width: 90%;
}

// My Groups
.groups {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  a {
    text-decoration: none;
  }

  &Container {
    max-width: 80px;
    border-color: transparent;
    margin: 7px auto;
  }

  &Image {
    border-radius: 50%;
    min-height: 80px;
    max-width: 110px;
    margin: auto;
  }

  &Text {
    @include headingFour;
    text-align: center;
  }
}

@media screen and (min-width: $ipad) {
  .btn {
    width: 40%;
  }
  .groups {
    grid-template-columns: 1fr 1fr 1fr 1fr;

    &_container {
      max-width: 150px;
    }

    &_image {
      min-height: 150px;
      max-width: 150px;
    }
  }
}
