@import "Variables";

#myProfile {
  display: grid;
  margin-top: 20px;

  h2 {
    @include headingThree;
  }

  hr {
    width: 30px;
    float: left;
    margin-top: -10px;
  }

  .profileImages {
    margin: 0 auto;

    img {
      border-radius: 50%;
      width: 120px;
      height: 120px;
      object-fit: cover;
    }

    p {
      padding: 2px;
      text-align: center;
      font-weight: bold;
    }
  }

  .reviews {
    text-align: center;
    width: 150px;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 50px;

    span {
      @include span;
      line-height: 0px;
      font-weight: bold;
    }

    p {
      @include thinFont;
      line-height: 1px;
    }
  }

  .editProfile {
    padding: 20px;

    .editFullname {
      margin-top: 20px;
    }

    .existingData {
      display: grid;
      border-bottom: 1px solid #aaa;
      grid-template-columns: 3fr 1fr;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    span {
      @include span;
      margin-bottom: 30px;
    }

    p {
      @include thinFont;
    }

    button {
      text-align: right;
    }

    .logout {
      text-align: center;
      text-decoration: none;
      @include thinFont;
    }
  }

  button {
    background-color: transparent;
    border: none;
    font-size: $smallFont-size;
    margin-bottom: 10px;
  }

  a {
    text-decoration: none;
  }

  //IPAD
  @media only screen and (min-width: $ipad) {
    h2 {
      font-size: $largeFont-size;
    }

    .profileImages {
      padding: 20px;
      img {
        width: 180px;
        height: 180px;
      }

      p {
        font-size: $largeFont-size;
      }
    }

    .reviews {
      width: 250px;
      padding: 6px;

      span {
        font-size: $mediumFont-size;
      }

      p {
        font-size: $mediumFont-size;
      }
    }

    .editProfile {
      padding: 40px;

      .editFullname {
        margin-top: 40px;
      }

      span {
        font-size: $mediumFont-size;
      }

      p {
        font-size: $mediumFont-size;
      }
    }

    button {
      font-size: $mediumFont-size;
    }
  }
}

.deleteAccountForm{
  input{
    border: 0;
    outline: 0;
    border-bottom: 1px solid $borderColor;
    margin-top: 20px;
    padding-bottom: 10px;
  }
}