@import "Variables";

//Bottom Navigation
.bottomNavigation {
  background-color: #8bacdb;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  height: 50px;
  width: 100%;
  position: fixed;
  bottom: 0;

  div {
    padding: 7px;

    i {
      color: white !important;
      font-size: 20px !important;
    }
  }
  p {
    color: $whiteTextColor;
    margin-top: 5px;
    font-size: $tinyFont-size;
  }

  a {
    text-decoration: none;
  }
}
@media only screen and (min-width: $ipad) {
  .bottomNavigation {
    height: 70px;

    div {
      i {
        font-size: 26px !important;
      }
    }

    p {
      font-size: $smallFont-size;
    }
  }
}

//Navigation under your profile

.profileNav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;

  &_link {
    @include headingThree;
    text-decoration: none;
    margin: 0px 20px;
  }
}

.active {
  color: $orangeColor;
  border-bottom: 1px solid $orangeColor;
  border-width: 80%;
}

@media screen and (min-width: $ipad) {
  .profileNav {
    width: 80%;
    margin: auto;
  }
}
