.modal {
  &Rate {
    &Header {
      background-color: white;
      width: 100%;
      max-height: 70px;

      &Text {
        @include headingTwo;
        color: black;
        text-align: center;
        margin-top: 0px;
        padding-top: 20px;
      }
    }

    &Stars {
      text-align: center;
      margin: 50px 0;
      &Star {
        max-width: 50px;
        height: auto;
        fill: $blueColor;
        margin: 0 2px;

        &Clicked {
          fill: $yellowColor;
        }
      }
    }
  }
}

.btnRate {
  width: 100%;
  margin: 0;
  border-radius: 5px;
}
