.beers {
  margin-top: 10px;

  a {
    text-decoration: none;
  }

  &Beer {
    display: grid;
    grid-template-columns: 2fr 3fr 0.5fr;
    padding: 20px 30px;
    border-bottom: 2px solid $greyColor;

    &Image {
      border: 1px solid $greyColor;
      max-width: 100px;
    }

    &Name {
      @include span;
      margin-top: 0;
    }

    &Description {
      @include paragraph;
    }

    &Stars {
      margin: 3px 0;
      &Star {
        max-width: 15px;
      }
    }
  }
}

.removeForm {
  display: inline-block;
}

.removeBeer {
  justify-self: end;
  color: black;
  text-decoration: none;
  font-size: 17px;
  border: none;
  background: none;
}

@media screen and (min-width: $ipad) {
  .beers {
    width: 60%;
    margin: 20px auto;
  }
}
