.blueContainer {
  .searchbarContainer {
    .searchBarForm {
      display: grid;
      grid-template-columns: 2fr 1fr;
      width: 90%;
      margin: 0 auto;
      padding: 10px;

      #searchField {
        border: none;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 10px;
      }

      button {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: $smallFont-size;
        border: none;
        margin-right: 0;
        background-color: $orangeColor;
      }

      img {
        width: 20px;
      }
    }
  }

  #userList {
    display: none;
    margin-block-start: 0 !important;
    padding-inline-start: 25px !important;
    padding-bottom: 20px;

    li {
      list-style-type: none;
    }

    a {
      text-decoration: none;
      color: white;
    }
  }
}

@media only screen and (min-width: $ipad) {
  .searchBarForm{

    #searchField{
      margin-bottom: 0;
      margin-top: 0;
      padding: 10px;
    }

    button{
      padding: 10px;
      margin-top: 0;
      margin-bottom: 0;
    }

  }
}