@import "Variables";

#singleview {
  .topBar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50%;

    button {
      background-color: transparent;
      border: none;
      padding-top: 20px;

      i {
        font-size: $largeFont-size !important;
        color: darkred !important;
      }
    }
  }

  .productPicture {
    display: grid;

    img {
      width: 70%;
      margin: 0 auto;
    }
  }

  .starRating {
    text-align: center;

    img {
      width: 20px;
      margin: 0 auto;
    }
  }

  .productInformation {
    border-top: 2px solid $orangeColor;
    border-radius: 60px;
    padding: 25px;

    h2 {
      text-align: center;
      @include headingTwo;
    }

    p {
      text-align: justify;
      @include paragraph;
    }

    .dataDivider {
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-gap: 30%;
      align-items: baseline;

      img {
        width: 30%;
        justify-self: right;
      }

      p {
        text-align: right;
        @include paragraph;
      }

      span {
        text-align: left;
        @include span;
      }
    }

    button {
      display: grid;
      padding: 12px 20px;
      border-radius: 4px;
      background-color: $orangeColor;
      border: none;
      color: $whiteTextColor;
      margin: 40px auto;
      @include span;
    }
  }
} //IPAD
@media only screen and (min-width: $ipad) {
  #singleview {
    .topBar {
      button {
        padding-top: 40px;

        i {
          font-size: 30px !important;
        }
      }
    }

    .productPicture {
      img {
        width: 50%;
        margin: 0 auto;
      }
    }

    .starRating {
      justify-self: baseline;

      img {
        width: 40px;
        margin: 0 auto;
      }
    }

    .productInformation {
      padding: 40px;

      h2 {
        font-size: 30px;
      }

      p {
        font-size: $mediumFont-size;
      }

      .dataDivider {
        margin-bottom: 30px;

        img {
          width: 20%;
          padding-top: 20px;
        }

        p {
          font-size: $mediumFont-size;
        }

        span {
          font-size: $mediumFont-size;
        }
      }

      button {
        font-size: $largeFont-size;
        padding: 18px 20px;
      }
    }
  }
}
