.slider {
  padding: 0px 30px;
  max-width: 500px;
  position: relative;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;

  a {
    text-decoration: none;
  }

  &Slide {
    &Fade {
      animation-name: fade;
      animation-duration: 1.5s;
    }

    &Image {
      border: 1px solid $greyColor;
      max-width: 110px;
      margin: auto;

      &Round {
        max-width: 80px;
        border-color: transparent;

        & img {
          border-radius: 50%;
          min-height: 80px;
        }
      }
    }

    &Text {
      @include headingFour;
      text-align: center;
    }

    &Stars {
      margin: 3px 0;
      text-align: center;

      & img {
        max-width: 10px;
      }
    }
  }

  &_prev,
  &_next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -40px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    text-decoration: none;
  }

  &_next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media screen and (min-width: $ipad) {
  .slider {
    &SlideImage {
      max-width: 150px;

      &Round img {
        min-height: 150px;
      }
    }

    &_prev,
    &_next {
      margin-top: -50px;
      font-size: 30px;
    }
  }

  .sliderSlide {
    margin-bottom: 20px;
  }
}
