// Color variables
$blackColor: #000000;
$orangeColor: #f89939;
$blueColor: #8bacdb;
$yellowColor: #ffc82c;
$greyColor: #e4e4e4;
$borderColor: #c4c4c4;
$whiteTextColor: #ffffff;

// Media queries
$desktop: 1440px;
$ipad: 768px;

// Font
$baseFont: "Quicksand", sans-serif;

$hugeFont-size: 50px;
$largeFont-size: 20px;
$mediumFont-size: 16px;
$smallFont-size: 12px;
$tinyFont-size: 10px;

$line-height: 1.5em;

// Mixins
@mixin headingOne {
  font-family: $baseFont;
  font-weight: 600;
  line-height: $line-height;
  font-size: $hugeFont-size;
}

@mixin headingTwo {
  font-family: $baseFont;
  font-weight: 600;
  line-height: $line-height;
  font-size: $largeFont-size;
}

@mixin headingThree {
  font-family: $baseFont;
  font-weight: 600;
  line-height: $line-height;
  font-size: $mediumFont-size;
  text-transform: uppercase;
}

@mixin headingFour {
  font-family: $baseFont;
  font-weight: 600;
  line-height: $line-height;
  font-size: $smallFont-size;
  text-transform: uppercase;
}

@mixin span {
  font-family: $baseFont;
  font-weight: 500;
  line-height: $line-height;
  font-size: $smallFont-size;
  text-transform: uppercase;
}

@mixin paragraph {
  font-family: $baseFont;
  font-weight: 400;
  line-height: $line-height;
  font-size: $tinyFont-size;
}

@mixin thinFont {
  font-family: $baseFont;
  font-weight: 300;
  line-height: $line-height;
  font-size: $smallFont-size;
}

@mixin topbarHeading {
  font-family: $baseFont;
  font-weight: 600;
  line-height: $line-height;
  font-size: 18px;
}
