body,
html {
  margin: 0 0 40px 0;
  padding: 0;
  border: 0;
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box; }

img {
  width: 100%; }

a {
  text-decoration: underline;
  color: #000000; }

.sectionHeading {
  padding: 20px; }
  .sectionHeading h2 {
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    line-height: 1.5em;
    font-size: 16px;
    text-transform: uppercase; }
  .sectionHeading hr {
    width: 30px;
    float: left;
    margin-top: -10px; }

@media only screen and (min-width: 1440px) {
  body {
    display: none; }
  #introduction {
    display: block; }
    #introduction .intoductionLayout {
      display: grid;
      padding: 30px; }
      #introduction .intoductionLayout h1 {
        font-family: "Quicksand", sans-serif;
        font-weight: 600;
        line-height: 1.5em;
        font-size: 50px;
        font-size: 50px;
        text-align: center; }
      #introduction .intoductionLayout img {
        width: 30%;
        margin: 0 auto; }
      #introduction .intoductionLayout p {
        font-family: "Quicksand", sans-serif;
        font-weight: 600;
        line-height: 1.5em;
        font-size: 20px;
        font-size: 20px;
        text-align: center;
        padding-left: 30%;
        padding-right: 30%; } }

/* li {
    color: $blackColor;
    @include span;
} */
.slider {
  padding: 0px 30px;
  max-width: 500px;
  position: relative;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr; }
  .slider a {
    text-decoration: none; }
  .sliderSlideFade {
    animation-name: fade;
    animation-duration: 1.5s; }
  .sliderSlideImage {
    border: 1px solid #e4e4e4;
    max-width: 110px;
    margin: auto; }
    .sliderSlideImageRound {
      max-width: 80px;
      border-color: transparent; }
      .sliderSlideImageRound img {
        border-radius: 50%;
        min-height: 80px; }
  .sliderSlideText {
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    line-height: 1.5em;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center; }
  .sliderSlideStars {
    margin: 3px 0;
    text-align: center; }
    .sliderSlideStars img {
      max-width: 10px; }
  .slider_prev, .slider_next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -40px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    text-decoration: none; }
  .slider_next {
    right: 0;
    border-radius: 3px 0 0 3px; }

@-webkit-keyframes fade {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }

@media screen and (min-width: 768px) {
  .sliderSlideImage {
    max-width: 150px; }
    .sliderSlideImageRound img {
      min-height: 150px; }
  .slider_prev, .slider_next {
    margin-top: -50px;
    font-size: 30px; }
  .sliderSlide {
    margin-bottom: 20px; } }

.discoverContainer {
  height: 100%;
  width: 100%;
  min-height: 170px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: -1; }

.discoverHeading {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  line-height: 1.5em;
  font-size: 12px;
  text-transform: uppercase; }

.discoverText {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  line-height: 1.5em;
  font-size: 10px; }

.textboxContainer {
  background-color: #e4e4e4ad;
  width: 120px;
  margin: 15px;
  position: absolute; }
  .textboxContainerTextWrapper {
    text-align: center;
    padding: 10px; }

@media screen and (min-width: 768px) {
  .discoverContainer {
    min-height: 300px; }
  .textboxContainer {
    width: 300px;
    height: 200px;
    padding-top: 20px;
    margin-top: 40px; } }

.blueContainer .searchbarContainer .searchBarForm {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 90%;
  margin: 0 auto;
  padding: 10px; }
  .blueContainer .searchbarContainer .searchBarForm #searchField {
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px; }
  .blueContainer .searchbarContainer .searchBarForm button {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    border: none;
    margin-right: 0;
    background-color: #f89939; }
  .blueContainer .searchbarContainer .searchBarForm img {
    width: 20px; }

.blueContainer #userList {
  display: none;
  margin-block-start: 0 !important;
  padding-inline-start: 25px !important;
  padding-bottom: 20px; }
  .blueContainer #userList li {
    list-style-type: none; }
  .blueContainer #userList a {
    text-decoration: none;
    color: white; }

@media only screen and (min-width: 768px) {
  .searchBarForm #searchField {
    margin-bottom: 0;
    margin-top: 0;
    padding: 10px; }
  .searchBarForm button {
    padding: 10px;
    margin-top: 0;
    margin-bottom: 0; } }

#submitButton {
  padding: 12px 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  background-color: #f89939;
  border: none;
  color: #ffffff;
  margin-top: 20px;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  line-height: 1.5em;
  font-size: 12px;
  text-transform: uppercase; }

label {
  margin-top: 20px;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  line-height: 1.5em;
  font-size: 12px;
  text-transform: uppercase; }

form {
  display: grid;
  padding: 10px;
  margin: 0 auto;
  width: 90%; }

section {
  display: grid; }

.closeModal {
  color: black;
  margin-left: 10px;
  margin-top: 10px; }

@media only screen and (min-width: 768px) {
  label {
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    line-height: 1.5em;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: normal; }
  input {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 20px; } }

#loginSection .loginLogo {
  width: 90%;
  margin: 0 auto; }

#loginSection #loginEmail,
#loginSection #loginPassword {
  margin: 5px 0; }

#loginSection input {
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 12px 20px;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  line-height: 1.5em;
  font-size: 12px; }

#loginSection a,
#loginSection p {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  line-height: 1.5em;
  font-size: 12px;
  text-align: center; }

@media only screen and (min-width: 768px) {
  #loginSection .loginLogo {
    width: 70%; }
  #loginSection input {
    padding: 18px 20px;
    font-size: 20px; }
  #loginSection a,
  #loginSection p {
    font-size: 16px; } }

#signupSection .topBar {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  width: 90%;
  margin: 0 auto;
  margin-top: 30px; }

#signupSection .xButton {
  background-color: transparent;
  border: none;
  padding: 2px;
  text-align: left; }

#signupSection input {
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 12px 20px;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  line-height: 1.5em;
  font-size: 12px; }

#signupSection h2 {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  line-height: 1.5em;
  font-size: 20px;
  text-align: center; }

#signupSection li {
  list-style-type: none;
  margin-top: 20px; }

#signupSection a {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  line-height: 1.5em;
  font-size: 12px;
  text-transform: uppercase;
  align-self: center;
  text-align: right; }

#signupSection p {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  line-height: 1.5em;
  font-size: 12px;
  text-align: center; }

@media only screen and (min-width: 768px) {
  #signupSection a,
  #signupSection p {
    font-size: 16px; }
  #signupSection h2 {
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    line-height: 1.5em;
    font-size: 50px; }
  #signupSection li {
    margin-bottom: 20px;
    margin-top: 40px; }
  #signupSection .topBar a {
    font-size: 20px; } }

.changingModal {
  background-color: white;
  max-height: fit-content; }
  .changingModal input {
    border: 0;
    outline: 0;
    border-bottom: 1px solid #c4c4c4;
    margin-top: 20px;
    padding-bottom: 10px; }
  .changingModal .modalChangingHeader .modalChangingHeaderText {
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    line-height: 1.5em;
    font-size: 20px;
    color: black;
    text-align: center;
    margin-top: 0px;
    padding-top: 20px; }

.modalCreateGroup {
  background-color: white;
  max-height: fit-content; }
  .modalCreateGroup .modalCreateGroupHeader .modalCreateGroupHeaderText {
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    line-height: 1.5em;
    font-size: 20px;
    color: black;
    text-align: center;
    margin-top: 0px;
    padding-top: 20px; }
  .modalCreateGroup .modalCreateGroupForm {
    margin-top: 10px; }
    .modalCreateGroup .modalCreateGroupForm .modalCreateGroupImage {
      text-align: center;
      margin: auto; }
    .modalCreateGroup .modalCreateGroupForm .modalCreateGroupImageContainer {
      background-color: #ffc82c;
      padding: 20px;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      margin: 15px auto; }
    .modalCreateGroup .modalCreateGroupForm .imageUpload {
      color: transparent;
      width: 100px; }
    .modalCreateGroup .modalCreateGroupForm .imageUpload::-webkit-file-upload-button {
      visibility: hidden; }
    .modalCreateGroup .modalCreateGroupForm .imageUpload::before {
      margin: 0 auto;
      content: "Select files";
      color: #ffffff;
      display: inline-block;
      background: #f89939;
      padding: 5px 8px;
      outline: none;
      border: none;
      border-radius: 4px;
      font-family: "Quicksand", sans-serif;
      font-weight: 500;
      line-height: 1.5em;
      font-size: 12px;
      text-transform: uppercase; }
    .modalCreateGroup .modalCreateGroupForm input[type="text"] {
      border: 0;
      outline: 0;
      border-bottom: 1px solid #c4c4c4;
      margin-top: 10px;
      margin-bottom: 10px;
      padding-bottom: 10px; }
    .modalCreateGroup .modalCreateGroupForm label {
      font-family: "Quicksand", sans-serif;
      font-weight: 500;
      line-height: 1.5em;
      font-size: 12px;
      text-transform: uppercase;
      text-transform: capitalize;
      margin-top: 20px; }
  .modalCreateGroup .searchbarContainer .searchBarForm {
    display: grid;
    grid-template-columns: 2fr 1fr; }
    .modalCreateGroup .searchbarContainer .searchBarForm #searchField {
      border: 1px solid #c4c4c4;
      margin-top: 10px;
      margin-bottom: 10px;
      height: 15px;
      padding-left: 10px; }
    .modalCreateGroup .searchbarContainer .searchBarForm button {
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 12px;
      border: none;
      margin-right: 0;
      height: 28px;
      background-color: #f89939; }
    .modalCreateGroup .searchbarContainer .searchBarForm img {
      width: 20px; }
  .modalCreateGroup #userList {
    display: none;
    margin-block-start: 0 !important;
    padding-inline-start: 0px !important; }
    .modalCreateGroup #userList li {
      list-style-type: none; }
    .modalCreateGroup #userList a {
      text-decoration: none; }

.modalCreateEvent {
  background-color: white;
  width: 100%;
  max-height: fit-content; }
  .modalCreateEvent .modalCreateEventHeaderText {
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    line-height: 1.5em;
    font-size: 20px;
    color: black;
    text-align: center;
    margin-top: 0px;
    padding-top: 20px; }
  .modalCreateEvent input {
    border: 0;
    outline: 0;
    border-bottom: 1px solid #c4c4c4;
    margin-top: 20px;
    padding-bottom: 10px; }
  .modalCreateEvent textarea {
    border: 1px solid #c4c4c4;
    padding: 20px; }
  .modalCreateEvent .modalCreateEventBeerlist {
    border: 1px solid #f89939;
    margin: 20px 0;
    padding: 10px;
    border-radius: 15px;
    width: 95%; }
    .modalCreateEvent .modalCreateEventBeerlist .modalCreateEventBeerlistHeader {
      font-family: "Quicksand", sans-serif;
      font-weight: 600;
      line-height: 1.5em;
      font-size: 16px;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 20px; }
    .modalCreateEvent .modalCreateEventBeerlist ul,
    .modalCreateEvent .modalCreateEventBeerlist li {
      list-style-type: none;
      margin-block-start: 0 !important;
      padding-inline-start: 0px !important; }
  @media only screen and (min-width: 768px) {
    .modalCreateEvent textarea {
      padding: 30px; } }

.blueContainer {
  background-color: #8bacdb;
  width: 100%;
  height: 100%;
  border-radius: 0 0 30px 30px;
  position: relative;
  z-index: 15; }
  .blueContainerTopbar {
    min-height: 70px;
    margin-bottom: 30px; }

.topbarHeading {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  line-height: 1.5em;
  font-size: 20px;
  color: white;
  text-align: center;
  margin-top: 0px;
  padding-top: 20px; }

.closeWindowIcon {
  text-decoration: none;
  color: white;
  position: absolute;
  top: 26px;
  left: 30px;
  font-size: 17px; }

@media only screen and (min-width: 768px) {
  .blueContainer {
    min-height: 90px; }
    .blueContainer h1 {
      padding-top: 35px; }
    .blueContainer .closeWindowIcon {
      top: 36px; } }

.btnContainer {
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 20px 0 40px 0; }

.btn {
  padding: 12px 20px;
  border-radius: 4px;
  background-color: #f89939;
  border: none;
  color: #ffffff;
  margin-top: 20px;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  line-height: 1.5em;
  font-size: 12px;
  text-transform: uppercase;
  width: 90%; }

.groups {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }
  .groups a {
    text-decoration: none; }
  .groupsContainer {
    max-width: 80px;
    border-color: transparent;
    margin: 7px auto; }
  .groupsImage {
    border-radius: 50%;
    min-height: 80px;
    max-width: 110px;
    margin: auto; }
  .groupsText {
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    line-height: 1.5em;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center; }

@media screen and (min-width: 768px) {
  .btn {
    width: 40%; }
  .groups {
    grid-template-columns: 1fr 1fr 1fr 1fr; }
    .groups_container {
      max-width: 150px; }
    .groups_image {
      min-height: 150px;
      max-width: 150px; } }

.overlay,
.overlayRateGroup {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  height: 200vh;
  width: 100%;
  background: #e4e4e4bd;
  z-index: 16;
  overflow: auto; }

.modal,
.modalRateGroup {
  display: none;
  width: 100%;
  min-height: 300px;
  background-color: white;
  z-index: 17;
  position: absolute;
  top: 8em;
  left: 0; }

@media screen and (min-width: 768px) {
  .overlay {
    height: 200vh; }
  .modal,
  .modalRateGroup {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 80%; } }

#singleview .topBar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50%; }
  #singleview .topBar button {
    background-color: transparent;
    border: none;
    padding-top: 20px; }
    #singleview .topBar button i {
      font-size: 20px !important;
      color: darkred !important; }

#singleview .productPicture {
  display: grid; }
  #singleview .productPicture img {
    width: 70%;
    margin: 0 auto; }

#singleview .starRating {
  text-align: center; }
  #singleview .starRating img {
    width: 20px;
    margin: 0 auto; }

#singleview .productInformation {
  border-top: 2px solid #f89939;
  border-radius: 60px;
  padding: 25px; }
  #singleview .productInformation h2 {
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    line-height: 1.5em;
    font-size: 20px; }
  #singleview .productInformation p {
    text-align: justify;
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    line-height: 1.5em;
    font-size: 10px; }
  #singleview .productInformation .dataDivider {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30%;
    align-items: baseline; }
    #singleview .productInformation .dataDivider img {
      width: 30%;
      justify-self: right; }
    #singleview .productInformation .dataDivider p {
      text-align: right;
      font-family: "Quicksand", sans-serif;
      font-weight: 400;
      line-height: 1.5em;
      font-size: 10px; }
    #singleview .productInformation .dataDivider span {
      text-align: left;
      font-family: "Quicksand", sans-serif;
      font-weight: 500;
      line-height: 1.5em;
      font-size: 12px;
      text-transform: uppercase; }
  #singleview .productInformation button {
    display: grid;
    padding: 12px 20px;
    border-radius: 4px;
    background-color: #f89939;
    border: none;
    color: #ffffff;
    margin: 40px auto;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    line-height: 1.5em;
    font-size: 12px;
    text-transform: uppercase; }

@media only screen and (min-width: 768px) {
  #singleview .topBar button {
    padding-top: 40px; }
    #singleview .topBar button i {
      font-size: 30px !important; }
  #singleview .productPicture img {
    width: 50%;
    margin: 0 auto; }
  #singleview .starRating {
    justify-self: baseline; }
    #singleview .starRating img {
      width: 40px;
      margin: 0 auto; }
  #singleview .productInformation {
    padding: 40px; }
    #singleview .productInformation h2 {
      font-size: 30px; }
    #singleview .productInformation p {
      font-size: 16px; }
    #singleview .productInformation .dataDivider {
      margin-bottom: 30px; }
      #singleview .productInformation .dataDivider img {
        width: 20%;
        padding-top: 20px; }
      #singleview .productInformation .dataDivider p {
        font-size: 16px; }
      #singleview .productInformation .dataDivider span {
        font-size: 16px; }
    #singleview .productInformation button {
      font-size: 20px;
      padding: 18px 20px; } }

#myProfile {
  display: grid;
  margin-top: 20px; }
  #myProfile h2 {
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    line-height: 1.5em;
    font-size: 16px;
    text-transform: uppercase; }
  #myProfile hr {
    width: 30px;
    float: left;
    margin-top: -10px; }
  #myProfile .profileImages {
    margin: 0 auto; }
    #myProfile .profileImages img {
      border-radius: 50%;
      width: 120px;
      height: 120px;
      object-fit: cover; }
    #myProfile .profileImages p {
      padding: 2px;
      text-align: center;
      font-weight: bold; }
  #myProfile .reviews {
    text-align: center;
    width: 150px;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 50px; }
    #myProfile .reviews span {
      font-family: "Quicksand", sans-serif;
      font-weight: 500;
      line-height: 1.5em;
      font-size: 12px;
      text-transform: uppercase;
      line-height: 0px;
      font-weight: bold; }
    #myProfile .reviews p {
      font-family: "Quicksand", sans-serif;
      font-weight: 300;
      line-height: 1.5em;
      font-size: 12px;
      line-height: 1px; }
  #myProfile .editProfile {
    padding: 20px; }
    #myProfile .editProfile .editFullname {
      margin-top: 20px; }
    #myProfile .editProfile .existingData {
      display: grid;
      border-bottom: 1px solid #aaa;
      grid-template-columns: 3fr 1fr;
      margin-top: 10px;
      margin-bottom: 10px; }
    #myProfile .editProfile span {
      font-family: "Quicksand", sans-serif;
      font-weight: 500;
      line-height: 1.5em;
      font-size: 12px;
      text-transform: uppercase;
      margin-bottom: 30px; }
    #myProfile .editProfile p {
      font-family: "Quicksand", sans-serif;
      font-weight: 300;
      line-height: 1.5em;
      font-size: 12px; }
    #myProfile .editProfile button {
      text-align: right; }
    #myProfile .editProfile .logout {
      text-align: center;
      text-decoration: none;
      font-family: "Quicksand", sans-serif;
      font-weight: 300;
      line-height: 1.5em;
      font-size: 12px; }
  #myProfile button {
    background-color: transparent;
    border: none;
    font-size: 12px;
    margin-bottom: 10px; }
  #myProfile a {
    text-decoration: none; }
  @media only screen and (min-width: 768px) {
    #myProfile h2 {
      font-size: 20px; }
    #myProfile .profileImages {
      padding: 20px; }
      #myProfile .profileImages img {
        width: 180px;
        height: 180px; }
      #myProfile .profileImages p {
        font-size: 20px; }
    #myProfile .reviews {
      width: 250px;
      padding: 6px; }
      #myProfile .reviews span {
        font-size: 16px; }
      #myProfile .reviews p {
        font-size: 16px; }
    #myProfile .editProfile {
      padding: 40px; }
      #myProfile .editProfile .editFullname {
        margin-top: 40px; }
      #myProfile .editProfile span {
        font-size: 16px; }
      #myProfile .editProfile p {
        font-size: 16px; }
    #myProfile button {
      font-size: 16px; } }

.deleteAccountForm input {
  border: 0;
  outline: 0;
  border-bottom: 1px solid #c4c4c4;
  margin-top: 20px;
  padding-bottom: 10px; }

#groupContent {
  padding: 0 20px; }
  #groupContent h2 {
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    line-height: 1.5em;
    font-size: 16px;
    text-transform: uppercase; }
  #groupContent .groupEvents h2 {
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    line-height: 1.5em;
    font-size: 16px;
    text-transform: uppercase; }
  #groupContent .groupEvents hr {
    width: 30px;
    float: left;
    margin-top: -10px; }
  #groupContent .groupEvents .eventContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    border: 0.5px solid #c4c4c4;
    padding: 10px;
    align-items: center; }
    #groupContent .groupEvents .eventContent span {
      font-family: "Quicksand", sans-serif;
      font-weight: 600;
      line-height: 1.5em;
      font-size: 12px;
      text-transform: uppercase; }
    #groupContent .groupEvents .eventContent p {
      font-family: "Quicksand", sans-serif;
      font-weight: 400;
      line-height: 1.5em;
      font-size: 10px; }
    #groupContent .groupEvents .eventContent img {
      object-fit: cover; }
  #groupContent .groupEvents button {
    display: grid;
    padding: 5px 12px;
    border-radius: 4px;
    background-color: #f89939;
    border: none;
    color: #ffffff;
    margin: 10px auto;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    line-height: 1.5em;
    font-size: 12px;
    text-transform: uppercase; }
  #groupContent .beerList {
    padding-bottom: 20px; }
    #groupContent .beerList .listContent {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20%;
      margin-top: 7px; }
      #groupContent .beerList .listContent button {
        background-color: transparent;
        color: #f89939;
        border: none;
        text-align: right; }
      #groupContent .beerList .listContent span {
        font-family: "Quicksand", sans-serif;
        font-weight: 600;
        line-height: 1.5em;
        font-size: 12px;
        text-transform: uppercase; }
  #groupContent .wall_container {
    border: 1px solid #c4c4c4; }
  #groupContent .wall_posts ul {
    list-style: none;
    padding-inline-start: 0px;
    margin: 5px; }
  #groupContent .wall_posts li {
    padding: 10px;
    margin: 5px;
    color: #ffffff;
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    line-height: 1.5em;
    font-size: 10px;
    border-radius: 20px;
    width: fit-content; }
  #groupContent .wall_posts .postRight {
    float: right;
    background-color: #ffc82c; }
  #groupContent .wall_posts .postLeft {
    float: left;
    background-color: #8bacdb; }
  #groupContent .wall_input {
    display: grid;
    width: 96%;
    margin: 0 auto; }
    #groupContent .wall_input .user_input {
      padding: 5px;
      margin-top: 30px;
      height: 50px; }
    #groupContent .wall_input .submit_button {
      padding: 5px 10px;
      border-radius: 4px;
      background-color: #f89939;
      border: none;
      color: #ffffff;
      width: 50px;
      float: right;
      font-family: "Quicksand", sans-serif;
      font-weight: 500;
      line-height: 1.5em;
      font-size: 12px;
      text-transform: uppercase;
      margin-bottom: 10px; }
  @media only screen and (min-width: 768px) {
    #groupContent h2 {
      font-family: "Quicksand", sans-serif;
      font-weight: 600;
      line-height: 1.5em;
      font-size: 20px; }
    #groupContent .groupEvents .eventContent span {
      font-size: 20px; }
    #groupContent .groupEvents .eventContent p {
      font-size: 16px; }
    #groupContent .groupEvents .eventContent img {
      max-height: 250px; }
    #groupContent .groupEvents button {
      padding: 10px 22px;
      font-size: 16px; }
    #groupContent .beerList {
      margin-top: 20px;
      margin-bottom: 20px; }
      #groupContent .beerList .listContent {
        margin-top: 10px; }
        #groupContent .beerList .listContent button {
          font-size: 20px; }
        #groupContent .beerList .listContent span {
          font-size: 16px; }
    #groupContent .wall_posts ul {
      margin: 10px; }
    #groupContent .wall_posts li {
      padding: 20px;
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 16px; }
    #groupContent .wall_input .user_input {
      padding: 10px;
      margin-top: 60px;
      height: 70px;
      font-size: 16px; }
    #groupContent .wall_input .submit_button {
      padding: 10px 10px;
      font-size: 16px;
      width: 70px;
      margin-bottom: 10px; } }

.beers {
  margin-top: 10px; }
  .beers a {
    text-decoration: none; }
  .beersBeer {
    display: grid;
    grid-template-columns: 2fr 3fr 0.5fr;
    padding: 20px 30px;
    border-bottom: 2px solid #e4e4e4; }
    .beersBeerImage {
      border: 1px solid #e4e4e4;
      max-width: 100px; }
    .beersBeerName {
      font-family: "Quicksand", sans-serif;
      font-weight: 500;
      line-height: 1.5em;
      font-size: 12px;
      text-transform: uppercase;
      margin-top: 0; }
    .beersBeerDescription {
      font-family: "Quicksand", sans-serif;
      font-weight: 400;
      line-height: 1.5em;
      font-size: 10px; }
    .beersBeerStars {
      margin: 3px 0; }
      .beersBeerStarsStar {
        max-width: 15px; }

.removeForm {
  display: inline-block; }

.removeBeer {
  justify-self: end;
  color: black;
  text-decoration: none;
  font-size: 17px;
  border: none;
  background: none; }

@media screen and (min-width: 768px) {
  .beers {
    width: 60%;
    margin: 20px auto; } }

.modalRateHeader {
  background-color: white;
  width: 100%;
  max-height: 70px; }
  .modalRateHeaderText {
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    line-height: 1.5em;
    font-size: 20px;
    color: black;
    text-align: center;
    margin-top: 0px;
    padding-top: 20px; }

.modalRateStars {
  text-align: center;
  margin: 50px 0; }
  .modalRateStarsStar {
    max-width: 50px;
    height: auto;
    fill: #8bacdb;
    margin: 0 2px; }
    .modalRateStarsStarClicked {
      fill: #ffc82c; }

.btnRate {
  width: 100%;
  margin: 0;
  border-radius: 5px; }

.bottomNavigation {
  background-color: #8bacdb;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  height: 50px;
  width: 100%;
  position: fixed;
  bottom: 0; }
  .bottomNavigation div {
    padding: 7px; }
    .bottomNavigation div i {
      color: white !important;
      font-size: 20px !important; }
  .bottomNavigation p {
    color: #ffffff;
    margin-top: 5px;
    font-size: 10px; }
  .bottomNavigation a {
    text-decoration: none; }

@media only screen and (min-width: 768px) {
  .bottomNavigation {
    height: 70px; }
    .bottomNavigation div i {
      font-size: 26px !important; }
    .bottomNavigation p {
      font-size: 12px; } }

.profileNav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center; }
  .profileNav_link {
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    line-height: 1.5em;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0px 20px; }

.active {
  color: #f89939;
  border-bottom: 1px solid #f89939;
  border-width: 80%; }

@media screen and (min-width: 768px) {
  .profileNav {
    width: 80%;
    margin: auto; } }
