{% extends 'components/Base.html' %}

{% block title %} Heffe - frontpage {% endblock %}

{% block content %}

<!-- SearchBar  -->
{% include 'components/SearchBar.html' %}

<!-- Top rated Section  -->
{% include 'components/Slider.html' %}


<!-- Discover Section  -->
<div
  class="discoverContainer"
  style="background-image: url('../../static/img/carsbergGreen.jpg')"
>
  <div class="textboxContainer">
    <div class="textboxContainerTextWrapper">
      <h2 class="discoverHeading">Discover</h2>
      <p class="discoverText">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Asmet
        consectetur elit.
      </p>
    </div>
  </div>
</div>

<!-- My groups Section  -->
{% if not groups %}
<div class="frontpageBtnContainer" style="text-align: center; margin-top: 30px;">
  <a href="/my-groups" class="btn" style="text-decoration: none;">Go to 'My Groups' to create a group</a>
</div>
{% endif %}

{% if groups %}
<div class ="sectionHeading">

  <h2>My Groups</h2>
  <hr>

</div>

<div class="slider" id="div2">
  {% load static %}
  {% for group in groups %}
  <a class="sliderSlide sliderSlideFade" href="/{{group.group.pk}}/group-dashboard">
    <div class="sliderSlideImage sliderSlideImageRound">

        <img src="../media/{{group.group.image}}" alt="" />

    </div>
    <div class="sliderSlideText">{{group.group.name}}</div>
  </a>
  {% endfor %}

  <a class="slider_prev" onclick="plusSlides(-1, slideshow2)">&#10094;</a>
  <a class="slider_next" onclick="plusSlides(1, slideshow2)">&#10095;</a>
</div>
{% endif %}

</div>




  {% include 'components/BottomNavigation.html' %}

<script>
  var slideshow1 = document.getElementById("div1");
  slideshow1.currentSlideIndex = 2;
  showSlideOne(slideshow1.currentSlideIndex, slideshow1);

  var slideshow2 = document.getElementById("div2");
  slideshow2.currentSlideIndex = 3;
  showSlideOne(slideshow2.currentSlideIndex, slideshow2);

  function plusSlides(n, slideshow) {
    showSlideOne((slideshow.currentSlideIndex += n), slideshow);
  }

  function currentSlide(n) {
    showSlideOne((slideshow.currentSlideIndex = n), slideshow);
  }

  function showSlideOne(n, slideshow) {
    var i;
    var slides = slideshow.getElementsByClassName("sliderSlide");
    if (n > slides.length) {
      slideshow.currentSlideIndex = 1;
    }
    if (n < 1) {
      slideshow.currentSlideIndex = slides.length;
    }
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }

    slides[slideshow.currentSlideIndex - 1].style.display = "block";
    slides[slideshow.currentSlideIndex - 2].style.display = "block";
  }


</script>


{% endblock %}
