{% extends 'components/Base.html' %}

{% block title %} Heffe - Group rate beer {% endblock %}

{% block content %}

<section id="singleview">
    <div class="topBar">
        <button><i class="fas fa-times"></i></button>
        <form action="{% url 'addFavorite' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" value="{{rateBeer.beer.pk}}" name="beerId">
            <button type="submit"><i class="far fa-heart"></i></button>
        </form>
    </div>

    <div class="productPicture">
        <img class="" src="/static/{{rateBeer.beer.imageRoot}}" alt="">
    </div>

    <div class="productInformation">
        <h2>{{rateBeer.beer.name}}</h2>
        <p>{{rateBeer.beer.description}}</p>

        <div class="starRating">
            {% if rateBeer.beer.avgScore > 0 %}
            <img class="" src="../static/icons/star.svg" alt="">
            {% endif %}
            {% if rateBeer.beer.avgScore > 1.5 %}
            <img class="" src="../static/icons/star.svg" alt="">
            {% endif %}
            {% if rateBeer.beer.avgScore > 2.5 %}
            <img class="" src="../static/icons/star.svg" alt="">
            {% endif %}
            {% if rateBeer.beer.avgScore > 3.5 %}
            <img class="" src="../static/icons/star.svg" alt="">
            {% endif %}
            {% if rateBeer.beer.avgScore > 4.5 %}
            <img class="" src="../static/icons/star.svg" alt="">
            {% endif %}
            <span>{{rateBeer.beer.avgScore}}</span>
        </div>

        <div class="dataDivider">
            <span>Brewery</span>
            <p>{{rateBeer.beer.brewery}}</p>
        </div>

        <div class="dataDivider">

            <span>Alcohol procent</span>
            <p>{{rateBeer.beer.alcohol}} %</p>
        </div>

        <div class="dataDivider">
            <span>Serving style</span>
            <img class="" src="/static/icons/beer-{{rateBeer.beer.servingStyle}}.png" alt="">
        </div>

    <button onclick="rateBeer()">Rate beer</button>

    </div>
    <!-- RATING -->
    {% include 'components/RateGroupBeer.html' with rateHeading=rateBeer.beer.name %}

</section>

{% include 'components/BottomNavigation.html' %}

<script>
    var overlayRateGroup = document.querySelector('.overlayRateGroup').style.display = "block";
    var modalRateGroup = document.querySelector('.modalRateGroup').style.display = "block";
    document.querySelector(".fa-times").onclick = function () {
        location.href = "/frontpage";
    };

    function rateBeer() {
        var stars = document.querySelectorAll('.modalRateStarsStar');
        stars.forEach(function(star) {
            star.addEventListener('click', function() {
                star.classList.add("modalRateStarsStarClicked");
                var count = document.querySelectorAll('.modalRateStarsStarClicked').length;
                console.log(count);
                document.getElementById('groupRatescore').value = count;
            })
        })
    }

    function closeModal(){
        overlayRateGroup.style.display = "none";
        modalRateGroup.style.display = "none";
    }
</script>

{% endblock %}