{% extends 'components/Base.html' %} {% block title %} Heffe - Group Dashboard
{% endblock %} {% block content %}

<!-- Blue topbar  -->
{% include 'components/BlueTopbar.html' with topbarHeading=group.name %}

<!-- Create Event  -->
{% include 'components/CreateEvent.html'%}

<!-- Top rated Section  -->
<div class ="sectionHeading">
  <h2>Top rated</h2>
  <hr>
</div>
<div class="slider" id="div1">
  {% load static %}
  {% for beer in beers  %}
  <a class="sliderSlide sliderSlideFade" href="/{{beer.beerList.beer.pk}}">
    <div class="sliderSlideImage">
      <img src="/static/{{beer.beerList.beer.imageRoot}}" alt="" />
    </div>
    <div class="sliderSlideStars">
      {% if beer.beerList.avgScore > 0 %}
      <img class="" src="{% static 'icons/star.svg' %}" alt="">
      {% endif %}
      {% if beer.beerList.avgScore > 1.5 %}
      <img class="" src="{% static 'icons/star.svg' %}" alt="">
      {% endif %}
      {% if beer.beerList.avgScore > 2.5 %}
      <img class="" src="{% static 'icons/star.svg' %}" alt="">
      {% endif %}
      {% if beer.beerList.avgScore > 3.5 %}
      <img class="" src="{% static 'icons/star.svg' %}" alt="">
      {% endif %}
      {% if beer.beerList.avgScore > 4.5 %}
      <img class="" src="{% static 'icons/star.svg' %}" alt="">
      {% endif %}
    </div>
  </a>
  {% endfor %} 
  <a class="slider_prev" onclick="plusSlides(-1, slideshow1)">&#10094;</a>
  <a class="slider_next" onclick="plusSlides(1, slideshow1)">&#10095;</a>
</div>
<br />


<section id="groupContent">
  <div class="groupEvents">

      <h2>Events</h2>
      <hr>

    {% if events %}
    {% for event in events %}
    <div class="eventContent">
      <div class="eventText">
        <span>{{event.title}} - {{event.date}}</span>
        <p>
        {{event.text}}
        </p>
        <span>COMING: <b>yes</b></span>
      </div>
      <div class="eventImage">
        <img src="../../static/img/carsbergGreen.jpg" alt="" />
      </div>
    </div>
    {% endfor %}
    {% endif %}
    <button onclick="createOccasion()">CREATE EVENT</button>
  </div>

  <!-- Beer list  -->
  <div class="beerList">

      <h2>Beer list</h2>
      <hr>
    {% if beerListBeers %}
    {% for beerListBeer in beerListBeers %}
    <div class="listContent">
      <span>{{beerListBeer.beer.name}}</span>
      <a href="/{{beerListBeer.pk}}/group-dashboard/rate-beer">Rate</a>
    </div>

    <!-- RATING -->
    {% include 'components/RateGroupBeer.html' with rateHeading=beerListBeer.beer.name%}

    {% endfor %}
    {% endif %}
  </div>

  <!-- Chat  -->
  <div class="chatContainer">
    <h2><span class="sliderHeading--underline">POST </span>WALL</h2>
    <div class="wall_container">
      <div class="wall_posts">
        <ul>
          <li class="postRight">
            Fest på Fredag hos mig, der vil stå øl på menuen!
          </li>
          <br />
          <br />
          <li class="postLeft">Helt sikkert, tilføjer du en øl liste?</li>
        </ul>
      </div>
      <div class="wall_input">
        <input class="user_input" type="text" placeholder="Type here..." />
        <br />
        <input class="submit_button" type="submit" value="Post" />
      </div>
    </div>
  </div>
</section>

<script>
  var overlay = document.querySelector(".overlay");
  var modal = document.querySelector(".modal");


  function createOccasion() {
    overlay.style.display = "block";
    modal.style.display = "block";
  }

  function closeModal() {
    overlay.style.display = "none";
    modal.style.display = "none";
  }
</script>
{% include 'components/BottomNavigation.html' %} {% endblock %}
