<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/Style.css' %}" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap"
      rel="stylesheet"
    />
    <title>Heffe</title>
  </head>
  <body id="introduction">

  <section class="intoductionLayout">
      <h1>Welcome to Heffe</h1>
      <p>The platform can only be used as a progressive web app. That means that you can only use
        and see the full potential of the application on Ipad or mobile </p>

      <img src="../static/img/logo.png">






  </section>

  </body>
</html>
