{% extends 'components/Base.html' %}

{% block title %} Heffe - login {% endblock %}

{% block content %}

<section id="loginSection">
    <!--LOGO-->

    <img class="loginLogo" src="../../static/img/logo.png" alt="" />

    <!--EMAIL & PASSWORD INPUTS-->

    <form id="loginIn" action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <label for="loginEmail">Email</label>
        <input type="email" id="loginEmail" name="loginEmail" />

        <label for="loginPassword">Password</label>
        <input type="password" id="loginPassword" name="loginPassword" placeholder="Must be at least 6 characters" />

        <input id="submitButton" type="submit" value="Log in" />
    </form>

    <!--FORGOT PASSWORD & CREATE ACCOUNT TEXT-->
    <p>
        <a href="#">Forgot password?</a> <br />

        Don't have an account? - sign up <a href="{% url 'signup' %}">here</a>
    </p>
</section>

{% endblock %}