{% extends 'components/Base.html' %}

{% block title %} Heffe - my groups {% endblock %}

{% block content %}

{% load static %}

<!-- BLUE TOPBAR  -->
{% include 'components/BlueTopbar.html' with topbarHeading="My Groups" %}

<!-- PROFILE NAV -->
{% include 'components/ProfileNav.html' %}

<!-- BUTTON  -->
<div class="btnContainer">
  <button class="btn" onclick="createGroupModal()">Create a group</button>
</div>

<!-- MODAL - CREATE GROUP -->
{% include 'components/CreateGroup.html' %}


<!-- My Groups  -->
<div class="groups">

    {% for group in groups  %}
    <a class="groupsContainer" href="/{{group.group.pk}}/group-dashboard">
        <img class="groupsImage" src="../media/{{group.group.image}}" alt="">
        <p class="groupsText">{{group.group.name}}</p>
    </a>

    {% endfor %}
</div>



{% include 'components/BottomNavigation.html' %}

<script>
    var overlay = document.querySelector('.overlay');
    var modal = document.querySelector('.modal');

    function createGroupModal() {
        overlay.style.display = "block";
        modal.style.display = "block";
    }
    function closeModal() {
        overlay.style.display = "none";
        modal.style.display = "none";
    }
</script>

{% endblock %}