{% extends 'components/Base.html' %}

{% block title %} Heffe - my profile {% endblock %}

{% block content %}

{% load static %}

<!-- BLUE TOPBAR  -->
{% include 'components/BlueTopbar.html' with topbarHeading="My Profile" %}

<!-- PROFILE NAVIGATION  -->
{% include 'components/ProfileNav.html' %}

<!-- MODAL - CHANGING -->
{% include 'components/UpdatePassword.html' %}

<!-- MY PROFILE  -->
<section id="myProfile">
    <!-- PROFILE IMAGE AND NAME -->
    <div class="profileImages">
        <img class="" src="{% static 'img/profile_picture.jpg' %}" alt="">
        <p class="profileName">{{user.first_name}}</p>
    </div>
    <!--TOTAL REVIEWS -->
    <div class="reviews">
        <span>TOTAL REVIEWS</span>
        <p>35 reviews</p>
    </div>
    <!-- EDIT PROFILE FORM -->
    <div class="editProfile">
        <h2>Edit profile</h2>
        <hr>
        <!--FULLNAME-->
        <div class="editFullname">
            <span>Full name</span>
            <div class="existingData">
                <p>{{user.first_name}}</p>
            </div>
        </div>
        <!--EMAIL-->
        <div class="editEmail">
            <span>E-mail</span>
            <div class="existingData">
                <p>{{user.email}}</p>
            </div>
        </div>
        <!--PASSWORD-->
        <div class="editPassword">
            <span>Password</span>
            <div class="existingData">
                <p>*******</p>
                <button onclick="change()">  <i class="fas fa-chevron-right"></i></button>
            </div>
        </div>
    </div>

    <!-- LOGOUT -->
    <button><a href="{% url 'logout' %}">LOGOUT</a></button>

    <!-- DELETE ACCOUNT BUTTON -->
    <button><a href="{% url 'deleteAccount' %}">DELETE ACCOUNT</a></button>
</section>

{% include 'components/BottomNavigation.html' %}

<script>
    var overlay = document.querySelector('.overlay');
    var modal = document.querySelector('.modal');

    function change() {
        overlay.style.display = "block";
        modal.style.display = "block";
    }


    function closeModal() {
        overlay.style.display = "none";
        modal.style.display = "none";
    }
</script>

{% endblock %}