{% extends 'components/Base.html' %}

{% block title %} Heffe - signup {% endblock %}

{% block content %}
<section id="signupSection">
    <!--TOP BAR-->
    <div class="topBar">
        <button class="xButton"><a href="/login">X</a></button>
        <h2>Sign up</h2>
        <a href="/login">Log in</a>
    </div>

    <!--FORM-->
    <form id="signUp" action="{% url 'signup' %}" method="POST">
        {% csrf_token %}
        <label for="signUpFullName">Full name</label>
        <input type="text" id="signUpFullName" name="signUpFullName" required />

        <label for="signUpEmail">Email</label>
        <input type="email" id="signUpEmail" name="signUpEmail" required />

        <label for="signUpPassword">Password</label>
        <input type="password" id="signUpPassword" name="signUpPassword" placeholder="Must be at least 6 characters" required />

        <li>
            <input type="checkbox" id="agree" name="agree" value="True" required/>
            <label for="agree">I'm at least 16 years old.</label>
        </li>

        <input id="submitButton" type="submit" value="Sign up" />
    </form>

    <p>
        By continuing, you agree to accept our <br />
        Privacy Policy & Terms of Service.
    </p>
</section>

{% endblock %}