<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentation</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/doc_assets/style.css" />
</head>
<div class="container">
    <div class="row">
        <div class="tm-left-right-container">
            {% include navigation.html %}
            
            <!-- Right column: content -->
            <div class="tm-right-column">
                <div class="tm-content-div">
                    <!-- Welcome section -->
                    <section id="welcome" class="tm-section">
                        <header>
                            <h2 class="tm-blue-text tm-welcome-title tm-margin-b-45">{{ page.title }}</h2>
                        </header>
    
                        {{ content }}    

                    </section>
                    <footer>
                        <p> Heffe | info@heffe.com | www.heffe.com </p>
                    </footer>
                </div>  
                
            </div> <!-- Right column: content -->
        </div>
    </div> <!-- row -->
</div> <!-- container -->

</body>
</html>
